* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(136, 136, 136);
}

.top {
    width: 100%;
    height: 100px;
    background-color: rgb(114, 40, 114);
    opacity: 1000;
}

.center {
    width: 1024px;
    margin: 0 auto;
}

.nav img {
    width: 75px;
    margin: 10px;
}

.navRight {
    float: right;
    margin: 25px 0px;
}

.navRight .link {
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.dscription {
    height: 490px;
    background-color: rgb(170, 170, 170);
    position: relative;
}

.dscLeft {
    width: 674px;
    height: 290px;
    position: absolute;
    top: 140px;
    left: 70px;
    color: #fff;
}

.dscription .dscLeft .dsc {
    display: inline-block;
    width: 674px;
    font-size: 24px;
    text-align: right;
}

.dscLeft .white {
    margin-top: 30px;
    margin-right: 66px;
    float: right;
    width: 560px;
    height: 4px;
    background-color: #fff;
}

.dscLeft .fenge {
    display: inline-block;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 150px;
}

.dscLeft .web {
    position: absolute;
    right: 0;
    top: 196px;
    font-size: 24px;
}

.dscRight img {
    border-radius: 60%;
    width: 250px;
    position: absolute;
    right: 14px;
    top: 140px;
}

.port {
    color: rgb(136, 136, 136);
    text-align: center;
    background-color: #fff;
    position: relative;
}

.port h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.port .black1 {
    position: absolute;
    top: 132px;
    left: 270px;
    margin-right: 24px;
    width: 200px;
    height: 4px;
    background-color: rgb(136, 136, 136);
}

.port .black2 {
    position: absolute;
    top: 132px;
    right: 236px;
    margin-right: 24px;
    margin-right: 30px;
    width: 200px;
    height: 4px;
    background-color: rgb(136, 136, 136);
}

.port .fenkai {
    position: absolute;
    top: 116px;
    left: 490px;
    display: inline-block;
    font-size: 30px;
}

.port ul li {
    display: inline-block;
    list-style: none;
    margin-top: 50px;
}

.port ul li img {
    width: 500px;
}

.port .gray {
    width: 100%;
    font-size: 4px;
    color: rgb(207, 207, 207);
    margin-top: 32px;
    text-shadow: 2px 2px 4px #000000;
}

.contact {
    color: rgb(136, 136, 136);
    text-align: center;
    background-color: #fff;
    position: relative;
    height: 700px;
}

.contact h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact .black1 {
    position: absolute;
    top: 132px;
    left: 270px;
    margin-right: 24px;
    width: 200px;
    height: 4px;
    background-color: rgb(136, 136, 136);
}

.contact .black2 {
    position: absolute;
    top: 132px;
    right: 236px;
    margin-right: 24px;
    margin-right: 30px;
    width: 200px;
    height: 4px;
    background-color: rgb(136, 136, 136);
}

.contact .fenkai {
    position: absolute;
    top: 116px;
    left: 490px;
    display: inline-block;
    font-size: 30px;
}

.contact .left {
    position: absolute;
    top: 200px;
    left: 100px;
    /* background-color: pink; */
    width: 36%;
}

.contact .left .form-item {
    width: 100%;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-bottom: 20px;
}

.contact .left .form-item .name {
    display: none;
    font-size: 18px;
    position: absolute;
    top: -24px;
    left: 0px;
}

.contact .left .form-item .email {
    display: none;
    font-size: 18px;
    position: absolute;
    top: 50px;
    left: 0px;
}

.contact .left .form-item .phone {
    display: none;
    font-size: 18px;
    position: absolute;
    top: 120px;
    left: 0px;
}

.contact .left .form-item .message {
    display: none;
    font-size: 18px;
    position: absolute;
    top: 190px;
    left: 0px;
}

.contact .left input {
    width: 100%;
    font-size: 30px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    /* padding-top: 20px; */
    text-align: start;
}

.contact .left textarea {
    border: none;
    outline: none;
    resize: none;
    /* padding-top: 20px; */
    font-size: 30px;
}

.contact .left button {
    width: 60px;
    height: 35px;
    font-size: 20px;
    font-family: 宋体, 黑体, 隶书;
    text-shadow: 0px 0px 3px #CE08EE;
    float: left;
}

.contact .right {
    position: absolute;
    top: 200px;
    right: 100px;
    text-align: left;
    /* background-color: pink; */
    width: 36%;
    color: rgb(136, 136, 136);
    font-family: 黑体, 隶书;
    font-size: 18px;
}

.contact .right span {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0px;
}

.bottom {
    height: 240px;
    background-color: rgb(170, 170, 170);
}

.bottom .btm {
    position: relative;
}

.bottom .btm .btmL {
    width: 30%;
    position: absolute;
    top: 60px;
    left: 30px;
    /* background-color: #fff; */
    color: white;
    font-size: 20px;
}

.bottom .btm .btmL h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.bottom .btm .btmL .me {
    width: 100%;
}

.bottom .btm .btmL .me a {
    text-decoration: none;
    color: rgb(114, 40, 114);
    /* font-size: 20px; */
}

.bottom .btm .btmR {
    width: 30%;
    position: absolute;
    top: 60px;
    right: 30px;
    /* background-color: #fff; */
    color: white;
    font-size: 20px;
}

.bottom .btm .btmR h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.bottom .btm .btmL .plan {
    width: 100%;
}

.end {
    height: 80px;
    background-color: rgb(114, 40, 114);
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    font-family: 黑体;
}